@font-face {
    font-family: romantic;
    src: url(romantic.ttf);
}

header {
    font-family: romantic;
    color: gold;
    font-size: 80px;
}

body{
    background-color: black;
    color: white
}

.circles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid grey;
}