@font-face {
    font-family: script;
    src:url(KaushanScript-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src:url(OpenSans-Regular.ttf)
}

nav {
    font-family: script;
    background-color: black;
    color: gold;
    font-size: 80px;
}

body {
    background-color: black;
    color: white;
    font-family: open-sans;
}

.title {
    font-family: script;
    font-size: 90px;
    color: gold
}

.img-1 {
   background-image: url("tea_ginger_lemon.png");
   background-size: cover;
}

.text-right {
    width: 600px;
}

.newsletter-section {
    
    height: 200px;
    background-image: url("tea_ginger_lemon.png");
    background-size: 200px;
    background-repeat: no-repeat;
}

.button-md:active {
    background: black;
}

.container-header {
    height: 600px;
}

.card {
    width: 800px
}

.widgets {
    border: 1px solid grey;
    border-radius: 25px
}

.circles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid grey;
}

.main{
    
}