@font-face {
    font-family: romantic;
    src: url(romantic.ttf);
}

nav {
    font-family: romantic;
    background-color: black;
    color: gold;
    font-size: 80px;
}

body {
    background-color: black;
    color: white
}

header {
    
}
.circles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid grey;
}