@font-face {
    font-family: romantic;
    src:url(Romantic.ttf);
}

nav {
    font-family: romantic;
    background-color: black;
    color: gold;
    font-size: 80px;
}

body {
    background-color: black;
    color: white
}

.title {
    font-family: romantic;
    font-size: 90px;
    color: gold
}

.img-1 {
   width: 100%;
   height: 100%
}

.text-right {
    width: 600px;
}

.container-header {
    
}

.card {
    width: 800px
}

.widgets {
    border: 1px solid grey;
    border-radius: 25px
}

.circles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid grey;
}

.main{
    background-color: orange;
}